<article class="container">
  <h1>
    投稿一覧
  </h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>File</th>
          <th>User</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @disks.each do |disk| %>
          <tr>
            <td><%= image_tag disk.get_jacket_image, size: "100x100", class: "index jacket_image" %></td>
            <td><%= disk.title %></td>
            <td><%= disk.introduction %></td>
            <td><%= disk.user.name %></td>
            <td><%= link_to 'Show', disk %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "new disk", new_disk_path %>

</article>